[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
Flask-JWT-Extended = "*"
marshmallow-sqlalchemy = "*"
passlib = "*"
tox = "*"
publicsuffix = "*"
mypy = "*"
factory_boy = "*"
pytest = "*"
pytest-factoryboy = "*"
pytest-flask = "*"
requests = "*"


[dev-packages]



[requires]

python_version = "3.6"
