[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-restful = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-jwt-extended = "*"
marshmallow-sqlalchemy = "*"
passlib = "*"
tox = "*"
publicsuffix = "*"
mypy = "*"


[dev-packages]



[requires]

python_version = "3.6"
